body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  color: #4b5763;
  font-size: 3rem;
}
.main {
  height: 100vh;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}
.main:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(./stars.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5;
}
.title {
  font-size: 10rem;
  color: #e67e22;
  margin: 0;
  padding: 2rem;
}
.intro {
  line-height: 5rem;
}
.number {
  font-size: 15rem;
  line-height: 14rem;
  margin: 0;
  font-family: 'Shrikhand', cursive;
  color: #6c3483;
  animation: bounce 0.5s infinite alternate;
}
.prompt {
  background-color: #bdff7b;
  padding: 2rem;
  margin: 2rem 0;
  line-height: 3.5rem;
}
.button {
  font-size: 4rem;
  padding: 2rem;
  background-color: #7bbdff;
  color: #fff;
  border: none;
  border-radius: 2rem;
  font-family: 'Shadows Into Light', cursive;
  margin: 3rem 1rem;
}
button:focus {
  outline: 0;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-25px);
  }
}
